In [1]:
import pandas as pd
import os

In [2]:
UploadCustomReportActionFileName = "C:/Users/ymann/Desktop/python_gui/Report - Custom - May 17, 2022 - 20_28 (2).xlsx"
clientCustomReportDataframe = pd.read_excel (UploadCustomReportActionFileName)

In [3]:
UploadAccessActualActionFileName = "C:/Users/ymann/Desktop/python_gui/ClientAccess_Actual (2).xlsx"
clientActualAccessDataframe= pd.read_excel (UploadAccessActualActionFileName)

In [4]:
UploadClappedActionFileName = "C:/Users/ymann/Desktop\python_gui/ClientCappedHours_Actual (1).xlsx"
clappedHoursDataframe = pd.read_excel (UploadClappedActionFileName)

In [5]:
clientActualAccessDataframe

,Id,Employee,Position,Grouper,Guppy,Sheepshead,Catfish,Zander
0,6633105,Alexander Demergis,FMS SOC Group Y (US Only),Y,Y,Y,Y,N
1,6600944,Ali Irfan,FMS SOC Group Y (US Only),Y,Y,Y,Y,N
2,5851841,Alonzo Williams,FMS SOC Group Y (US Only),Y,Y,Y,Y,N
3,6296070,Anand Patel,FMS SOC Group Y (US Only),Y,Y,Y,Y,N
4,4646339,Annmarie Silva,FMS Group Y L2,Y,Y,Y,Y,N
5,6662076,Ashok Velat,FMS SOC Group X (US Only),N,N,N,N,Y
6,6255148,Atiba Lashley,FMS SOC Group X (US Only),N,N,N,N,Y
7,6825586,Ayodeji Odukogbe,FMS SOC Group Y (US Only),Y,Y,Y,Y,N
8,6339055,Benedita Pinto,FMS SOC Group Y (US Only),Y,Y,Y,Y,N
9,6296069,Bilal Haciogullari,FMS SOC Group Y (US Only),Y,Y,Y,Y,N
10,6886138,Brandon Richardson,FMS SOC Group X (US Only),N,N,N,N,Y
11,6643860,Chris Bonsu,FMS SOC Group X (US Only),N,N,N,N,Y
12,5304095,Daria Moaadel,FMS Group X L2,N,N,N,N,Y
13,6411950,Eve Ekkardt,FMS SOC Group Y (US Only),Y,Y,Y,Y,N
14,6600942,Griffin Fried,FMS SOC Group Y (US Only),Y,Y,Y,Y,N
15,6729801,Irfan Jeelani,FMS SOC Group X (US Only),N,N,N,N,Y
16,6364591,Isaiah Harris-Winn,FMS SOC Group Y (US Only),Y,Y,Y,Y,N
17,4544637,Jack Spera,FMS Group X L2,N,N,N,N,Y
18,6812524,Jeenho Hahm,FMS SOC Group X (US Only),N,N,N,N,Y
19,6460742,Jeremy Ansher,FMS SOC Group X (US Only),N,N,N,N,Y
20,4831863,Jesse Mainor,FMS Group Y L2,Y,Y,Y,Y,N
21,6059866,Jineva Byrne,FMS SOC Group Y (US Only),Y,Y,Y,Y,N
22,4767242,Juhi Agarwal,FMS Group Y L2,Y,Y,Y,Y,N
23,6296067,Kabah Arku,FMS SOC Group Y (US Only),Y,Y,Y,Y,N
24,6886139,Kabeer Mehdi,FMS SOC Group X (US Only),N,N,N,N,Y
25,6021680,Kenley Anglade,FMS SOC Group X (US Only),N,N,N,N,Y
26,6411976,Kenny Mei,FMS SOC Group Y (US Only),Y,Y,Y,Y,N
27,6954779,Lane Schoof,FMS SOC Group X (US Only),N,N,N,N,Y
28,6746562,Lashon Enezuagu,FMS SOC Group X (US Only),N,N,N,N,Y
29,3949101,Logan Shaulis,Shift Lead,N,N,N,N,Y
30,6825587,Marvelous Kings,FMS SOC Group Y (US Only),Y,Y,Y,Y,N
31,6954781,Merve Ece,FMS SOC Group Y (US Only),Y,Y,Y,Y,N
32,5293390,Michael Francis,FMS SOC Group Y (US Only),Y,Y,Y,Y,N
33,4450037,Micheal Maher,FMS Group X L2,N,N,N,N,Y
34,6315165,Nour Lamkhenter,FMS SOC Group Y (US Only),Y,Y,Y,Y,N
35,6296071,Ozdal Etlik,FMS SOC Group Y (US Only),Y,Y,Y,Y,N
36,6758500,Precious Adagbon,FMS SOC Group X (US Only),N,N,N,N,Y
37,5972947,Ronald Myers,FMS SOC Group X (US Only),N,N,N,N,Y
38,6966968,Sam Anderson,FMS SOC Group Y (US Only),Y,Y,Y,Y,N
39,5176466,Samuel Smith,FMS Group X L2,N,N,N,N,Y
40,6332382,Sena Ozeren,FMS SOC Group Y (US Only),Y,Y,Y,Y,N
41,4521985,Solomon Kassahun,FMS SOC Group X (US Only),N,N,N,N,Y
42,6779701,Tyler Medina,FMS SOC Group X (US Only),N,N,N,N,Y
43,3330389,Viswanatha Vaddi,FMS Group Y L2,Y,Y,Y,Y,N
44,6255144,Yusuf Ahmad,FMS SOC Group X (US Only),N,N,N,N,Y
45,6519594,Zavier Stambaugh,FMS SOC Group Y (US Only),Y,Y,Y,Y,N

In [23]:
 # Getting the columns in output data frame
outputFrameColumns=["Employee ID","Employee Name","Employee Level","Total Working Hours"]
for client in clappedHoursDataframe['Client Name']:
    outputFrameColumns.append(client)
outputFrameColumns.append('Total Hours Charged by Employee')
outputFrameColumns.append('Hours Worked - Hours Charged')
outputFrameColumns.append('Ratio')
# ----------------------------------------------------------------------------------------#

# Grouping the data in cleint custom report for each employee by employee id to get total hours of each employee
gk=clientCustomReportDataframe.groupby('employee')

# The data/rows in output data frame
outputFrameData=[]

# Lopping for each row in client's custom report data frame  
for idx in clientCustomReportDataframe.index:
    # Getting the total hours for particular employee using grouped by 'gk' dataframe
    totalHrs=gk.get_group(clientCustomReportDataframe['employee'][idx])['total_time'].agg('sum')

    # -- Gathering data for output sheet row -- # 
    outputSheetRow=[clientCustomReportDataframe['id'][idx],
        clientCustomReportDataframe['employee'][idx],
        clientCustomReportDataframe['Level'][idx].split()[0],
        totalHrs
    ]

    # Getting all distinct cleints
    for client in clappedHoursDataframe['Client Name']:
        # checking if 'cleint' is accessible by the employee using client actual access file
        rw=clientActualAccessDataframe[clientActualAccessDataframe['Id']==clientCustomReportDataframe['id'][idx]][client]
        accessible=rw.to_string(index=False)

        # setting 0 if not accessible
        if accessible=='N':
            outputSheetRow.append(0)
        else:
            outputSheetRow.append("")

    # Dummy values for other 3 columns
    outputSheetRow.append(0)
    outputSheetRow.append(0)
    outputSheetRow.append(0)

    #------------------------------------------#

    #Appending row to otuput frame data
    outputFrameData.append(outputSheetRow)

# Generating ouput data frame using earier gathered output frame columns and output frame data
outputDataFrame=pd.DataFrame(outputFrameData,columns=outputFrameColumns)
# Removing duplicate values in dataframe based on employee id
outputDataFrame=outputDataFrame.drop_duplicates(subset=['Employee ID'],keep='first')

# Dictionary stores for each cleint - the total working hours for each employee who have access to the client
clientTotalHours={}

#Initializing the dictionary 
for client in clappedHoursDataframe['Client Name']:
        clientTotalHours[client]=0

for idx in outputDataFrame.index:
    for client in clappedHoursDataframe['Client Name']:
        #checking if client is accessible for employee if it is we will add that employee's total working hours to dictionary
        if outputDataFrame[client][idx]!=0:
            clientTotalHours[client]+=outputDataFrame['Total Working Hours'][idx]

# Calculate hours = (employee total hours/sum of all employees' total hours)*client capped hours
# Caluclating the hours value for each employee and each client 
for idx in outputDataFrame.index:
    for client in clappedHoursDataframe['Client Name']:
        if outputDataFrame[client][idx]!=0:
            clappedHours=clappedHoursDataframe[clappedHoursDataframe['Client Name']==client]['Capped Hours Per Week']
            clappedHours=(float)(clappedHours.to_string(index=False))
            calc=(outputDataFrame['Total Working Hours'][idx]/clientTotalHours[client])*(clappedHours)
            outputDataFrame.at[idx,client]=calc

# Developing a function to round to a multiple
def round_to_multiple(number, multiple):
    return multiple * round(number / multiple)

#Dictionary for storing sum of cleint hours
clientsSum={}
#Dictionary for storing rounded sum of cleint hours
roundedClientSum={}
# Dictionary for storing difference in sum of cleint hours and rounded sum of cleint hours
differenceDict={}

#Initializing the dictionaries
for client in clappedHoursDataframe['Client Name']:
        clientsSum[client]=0
        roundedClientSum[client]=0
        differenceDict[client]=0

#Calculating rounded off value to 0.25 multiple and storing it in output frame
for idx in outputDataFrame.index:
    for client in clappedHoursDataframe['Client Name']:
        clientsSum[client]+=outputDataFrame[client][idx]
        multiple_round=round_to_multiple(outputDataFrame[client][idx],0.25)
        roundedClientSum[client]+=multiple_round
        outputDataFrame.at[idx,client]=multiple_round

# Computation performend - 
# Find the sum of hours for each client 
# If sum exceeds capped hours -> sort in ascending order of "total hours" of employees and start subtracting 0.25 from each individual. If the loop reaches the end with still some hours left to remove, have another iteration
# If sum is less than capped hours -> sort in descending order of "total hours" of employees and start adding 0.25 to each individual. If the loop reaches the end with still some hours left to give, have another iteration

for client in clappedHoursDataframe['Client Name']:
    differenceDict[client]=clientsSum[client]-roundedClientSum[client]
    differenceDict[client]=round(differenceDict[client],2)
    if differenceDict[client]>0:
        outputDataFrame=outputDataFrame.sort_values('Total Working Hours',ascending=False)
        while True:
            for idx in outputDataFrame.index:
                if outputDataFrame[client][idx]!=0:
                    if differenceDict[client]>=0.25 :
                        outputDataFrame.at[idx,client]=outputDataFrame[client][idx]+0.25
                        differenceDict[client]=differenceDict[client]-0.25
                    else:
                        break
                        
            if differenceDict[client]<0.25:
                break;
    else:
        outputDataFrame=outputDataFrame.sort_values('Total Working Hours')
        while True:
            for idx in outputDataFrame.index:
                if outputDataFrame[cleint][idx]!=0:
                    if differenceDict[client]>=-0.25 :
                        outputDataFrame.at[idx,client]=outputDataFrame[client][idx]-0.25
                        differenceDict[client]=differenceDict[client]+0.25
                    else:
                        break

            if differenceDict[client]>-0.25:
                break;
                
# Sorting the output frame using index value
outputDataFrame=outputDataFrame.sort_index()

newRow=['','','','Total']

for client in clappedHoursDataframe['Client Name']:
    newRow.append(outputDataFrame[client].sum())

newRow.append('')
newRow.append('')
newRow.append('')
print(newRow)

outputDataFrame.loc[outputDataFrame.index.max()+1]=newRow
outputDataFrame.drop('Hours Worked - Hours Charged', axis=1, inplace=True)
outputDataFrame.drop('Ratio', axis=1, inplace=True)

for idx in outputDataFrame.index:
    totalSum=0
    for client in clappedHoursDataframe['Client Name']:
        totalSum+=outputDataFrame[client][idx]
    outputDataFrame.at[idx,'Total Hours Charged by Employee']=totalSum

print(outputDataFrame)

['', '', '', 'Total', 20.0, 20.0, 20.0, 20.0, 108.5, '', '', '']
    Employee ID       Employee Name Employee Level Total Working Hours  \
0       6825586    Ayodeji Odukogbe             A4                37.5
1       6460742       Jeremy Ansher             A4                37.5
2       6021680      Kenley Anglade             A4                37.5
3       6825587     Marvelous Kings             A4                37.5
4       5293390     Michael Francis             A4                37.5
5       6519594    Zavier Stambaugh             A4                37.5
6       5851841     Alonzo Williams             A4                37.5
7       6886138  Brandon Richardson             A4                37.5
8       3935464    Kishore Sreerama             A6                37.5
9       5176466        Samuel Smith             A5                37.5
10      6255144         Yusuf Ahmad             A4                12.5
17      7012947         Addy Kadura             A4                38.0
18      6633105  Alexander Demergis             A4                38.0
19      6600944           Ali Irfan             A4                38.0
20      6296070         Anand Patel             A4                38.0
21      6643860         Chris Bonsu             A4                38.0
22      7000678     Ericka Granison             A4                38.0
23      6600942       Griffin Fried             A4                38.0
24      4544637          Jack Spera             A5                38.0
25      6812524         Jeenho Hahm             A4                38.0
26      6954779         Lane Schoof             A4                38.0
27      3949101       Logan Shaulis             A5                38.0
28      6954781           Merve Ece             A4                38.0
29      6315165     Nour Lamkhenter             A4                38.0
30      6758500    Precious Adagbon             A4                38.0
31      6966968        Sam Anderson             A4                38.0
32      6332382         Sena Ozeren             A4                38.0
33      6063385       Sharise Odems             A4                38.0
34      6779701        Tyler Medina             A4                38.0
35      6255148       Atiba Lashley             A4                38.0
36      6339055      Benedita Pinto             A4                28.5
37      6364591  Isaiah Harris-Winn             A4                38.0
38      6886139        Kabeer Mehdi             A4                38.0
39      4450037       Micheal Maher             A5                28.5
40      3330384          Rahul Shah             A6                38.0
41      3330389    Viswanatha Vaddi             A6                38.0
42      6662076         Ashok Velat             A4                38.0
43      6296069  Bilal Haciogullari             A4                38.0
44      6729801       Irfan Jeelani             A4                38.0
45      6296071         OZDAL ETLIK             A4                19.0
46      5972947        Ronald Myers             A4                38.0
47      3515839       Aditi Binnani             A6                45.0
84      5304095       Daria Moaadel             A5                19.0
89      6296067          Kabah Arku             A4                19.0
101     6411950         Eve Ekkardt             A4                19.0
135     6411976           Kenny Mei             A4                25.0
136                                                              Total

    Grouper Guppy Sheepshead Catfish Zander Total Hours Charged by Employee
0      0.75  0.75       0.75    0.75    0.0                             3.0
1       0.0   0.0        0.0     0.0    4.5                             4.5
2       0.0   0.0        0.0     0.0    4.5                             4.5
3      0.75  0.75       0.75    0.75    0.0                             3.0
4      0.75  0.75       0.75    0.75    0.0                             3.0
5      0.75  0.75       0.75    0.75    0.0                             3.0
6      0.75  0.75       0.75    0.75    0.0                             3.0
7       0.0   0.0        0.0     0.0    4.5                             4.5
8      0.75  0.75       0.75    0.75    4.5                             7.5
9       0.0   0.0        0.0     0.0    4.5                             4.5
10      0.0   0.0        0.0     0.0    1.5                             1.5
17     0.75  0.75       0.75     1.0    4.5                            7.75
18     0.75  0.75       0.75     1.0    0.0                            3.25
19     0.75  0.75       0.75    0.75    0.0                             3.0
20     0.75  0.75        1.0    0.75    0.0                            3.25
21      0.0   0.0        0.0     0.0   4.75                            4.75
22     0.75  0.75       0.75    0.75   4.75                            7.75
23     0.75  0.75        1.0    0.75    0.0                            3.25
24      0.0   0.0        0.0     0.0    4.5                             4.5
25      0.0   0.0        0.0     0.0    4.5                             4.5
26      0.0   0.0        0.0     0.0    4.5                             4.5
27      0.0   0.0        0.0     0.0   4.75                            4.75
28     0.75  0.75       0.75    0.75    0.0                             3.0
29      1.0  0.75       0.75    0.75    0.0                            3.25
30      0.0   0.0        0.0     0.0    4.5                             4.5
31     0.75  0.75       0.75    0.75    0.0                             3.0
32      1.0  0.75       0.75    0.75    0.0                            3.25
33     0.75   1.0       0.75    0.75    4.5                            7.75
34      0.0   0.0        0.0     0.0    4.5                             4.5
35      0.0   0.0        0.0     0.0    4.5                             4.5
36      0.5   0.5        0.5     0.5    0.0                             2.0
37     0.75  0.75       0.75    0.75    0.0                             3.0
38      0.0   0.0        0.0     0.0    4.5                             4.5
39      0.0   0.0        0.0     0.0    3.5                             3.5
40     0.75  0.75       0.75    0.75    4.5                             7.5
41     0.75  0.75       0.75    0.75    0.0                             3.0
42      0.0   0.0        0.0     0.0   4.75                            4.75
43     0.75   1.0       0.75    0.75    0.0                            3.25
44      0.0   0.0        0.0     0.0    4.5                             4.5
45      0.5   0.5        0.5     0.5    0.0                             2.0
46      0.0   0.0        0.0     0.0    4.5                             4.5
47     1.25  1.25       1.25    1.25   5.75                           10.75
84      0.0   0.0        0.0     0.0   2.25                            2.25
89      0.5   0.5        0.5     0.5    0.0                             2.0
101     0.5   0.5        0.5     0.5    0.0                             2.0
135     0.5   0.5        0.5     0.5    0.0                             2.0
136    20.0  20.0       20.0    20.0  108.5                           188.5